---
layout: default
---
<div class="row">
  <div class="span12">
    <div class="gui-window">
      <div class="gui-window-topbar">
        <div class="gui-window-topbar-title">C++ML - index.hh</div>
        <div class="gui-window-topbar-buttons"></div>
      </div>
      <div class="gui-window-inner">
        <div class="gui-window-leftbar">
          <span class="gui-tool gui-tool-cursor"></span>
          <span class="gui-tool gui-tool-class"></span>
          <span class="gui-tool gui-tool-function"></span>
          <span class="gui-tool gui-tool-inheritance"></span>
          <span class="gui-tool gui-tool-cursor"></span>
          <span class="gui-tool gui-tool-aggregation"></span>
          <span class="gui-tool gui-tool-composition"></span>
          <span class="gui-tool gui-tool-dependency"></span>
        </div>
        <div class="gui-window-container"></div>
      </div>
      <div class="gui-window-bottombar"></div>
    </div>
  </div>
</div>
<br/>
<div class="page">
  {{ content }}
</div>
<div class="row">
  <div class="span2">
    <br/>
    <img src="/assets/img/logo-labeip.png">
  </div>
  <div class="span10">
    <h3>Brought to you thanks to labEIP</h3>
    <p>The <strong>labEIP</strong> helps students from EPITECH grow their own projects all the way from conception to release. Over the courses of two years, they offer technical advices, harware and logistics.<br> 
    Check out other projects at <a href="https://eip.epitech.eu/">https://eip.epitech.eu/</a> !
    </p>
  </div>
</div>