---
layout: default
---
<div class="row">
  <div class="span8">
    <div class="page">
      <div class="page-header">
        <h1>{{ page.title }} <small>Supporting tagline</small></h1>
        <h4>{{ page.date | date_to_long_string }} <small>by {{ site.author.name }}</small></h4>
      </div>
      <br/>
      {{ content }}
    </div>
    <div class="page">   
      <div class="page-header">
        <h1>Comments <small>on Facebook</small></h1>
      </div>
      <br>
      {% include facebook_comments %}
    </div>
    {% include pagination %}
  </div>
  <div class="span4">
    <div class="page">
      <h4>Latest posts</h4>
      <ul>
      {% for post in site.posts limit: 5 %}
        <li><a href="{{ post.url }}">{{ post.title }}</a></li>
      {% endfor%}
      </ul>
    </div>
  </div>
</div>
